section,
article,
nav {
    margin-top: 10px;
    margin-bottom: 20px;
}

header {
    padding: 20px;

    margin-bottom: 30px;

    border: 1px solid var(--text-main);

    -webkit-box-shadow: 5px 5px 0px 0px var(--text-main);
    box-shadow: 7px 7px 0px 0px var(--text-main);
}

article {
    padding-left: 20px;
    padding-right: 20px;

    border: 1px solid var(--text-main);
    border-radius: 10px;

    -webkit-box-shadow: 5px 5px 0px 0px var(--text-main);
    box-shadow: 5px 5px 0px 0px var(--text-main);
}

/****************** Flags ******************/

#flags {
    margin-bottom: 10px;
}

#flags * {
    margin-right: 10px;
}

/****************** Links ******************/

.links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: -10px;
}

.links a {
    margin-top: 10px;

    margin-left: 0.6em;

    padding: 0.5em 1em;

    color: var(--text-main);
    text-decoration: none;
    cursor: pointer;

    display: block;

    border: 1px solid var(--text-main);

    -webkit-box-shadow: 3px 3px 0px 0px var(--text-main);
    box-shadow: 3px 3px 0px 0px var(--text-main);

    position: relative;
    left: 0px;
    top: 0px;

    transition: 0.3s;
}

.links a:hover {
    color: var(--background-body);
    background-color: var(--text-main);

    -webkit-box-shadow: 0px 0px 0px 0px var(--text-main);
    box-shadow: 0px 0px 0px 0px var(--text-main);

    left: 5px;
    top: 5px;
}

/****************** Nav Bar ******************/

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    height: 50px;
}

nav a {
    padding: 0.5em 1em;
    margin-right: 1em;

    color: var(--text-main);
    text-decoration: none;
    cursor: pointer;

    display: block;

    position: relative;
    top: 0px;
    left: 0px;

    transition: 0.3s;
}

nav a:hover {
    text-decoration: none;

    border: 1px solid var(--text-main);
    -webkit-box-shadow: 3px 3px 0px 0px var(--text-main);
    box-shadow: 3px 3px 0px 0px var(--text-main);

    top: -3px;
    left: -3px;
}

nav a.active {
    color: var(--background-body);
    background-color: var(--text-main);
}

nav a.active:hover {
    -webkit-box-shadow: 3px 3px 0px 0px var(--background);
    box-shadow: 3px 3px 0px 0px var(--background);
}
