.btn-3d {
  border-width: 1px;
  border-color: currentColor;
  box-shadow: 2px 2px;
}

.btn-3d:hover,
.btn-3d.active {
  position: relative;
  left: 2px;
  top: 2px;

  box-shadow: 0px 0px;
}

.btn-3d.active {
  background-color: currentColor;
}

.btn-3d.active > * {
  mix-blend-mode: difference;
}
