@property --hue {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

.funky {
  background-color: hsl(var(--hue), 20%, 40%);
  animation: funky 1s linear infinite;
}

@keyframes funky {
  100% {
    --hue: 360;
  }
}

.dance {
  animation: dance 500ms linear infinite alternate;
}

@keyframes dance {
  0% {
    /* transform: rotate(0); */
    transform: scale(1, 1) translateX(-20px);
  }
  100% {
    /* transform: rotate(1turn); */
    transform: scale(-1, 1) translateX(20px);
  }
}
