@import './styles/button-3d.css';
@import './styles/fonts.css';
@import './styles/funky.css';

/* -------------------------------------------------------------------------- */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------------------------------------- */

:root {
  --futuristic-box-border-color: rgb(226, 232, 240);
  --futuristic-box-bg-color: rgb(17 24 39);
}

body {
  @apply bg-gray-900;
  @apply text-slate-200;
  @apply max-sm:text-sm text-base lg:text-lg;
}

/* -------------------------------------------------------------------------- */

article p {
  line-height: 1.5;
  @apply my-3;
}

.text-neon {
  text-shadow: 0 0 5px currentColor;
}
